.item_img img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.price span {
  color: #ea580c;
}

.product_card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 400px;
  width: 100%;
}

@media (max-width: 360px) {
  .product_card h3 {
    font-size: 16px;
  }
}
